/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

.vs/
.vscode/
.gradle/

*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs.codex_input_compile_stub.cs
.codex_project_scripts.dll
.codex_input_compile_stub.cs